ClientSide/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllClients">
        <s:complexType />
      </s:element>
      <s:element name="GetAllClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllClientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasClientResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBySql">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="table" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBySqlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBySqlResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTrainers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTrainersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTrainersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityFromid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CityFromidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CityFromidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Client">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_ClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="Restore_Client">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Restore_ClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddNewClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="City" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumStreet" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Age" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Level" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddNewClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCities">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginDT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Client" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProviders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProvidersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetProviderIdResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderFromId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="provider" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProviderFromIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProviderFromIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Information" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MinCap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxCap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CurCap" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MyPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Provider" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pic" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddNewProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="GiveId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="letter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GiveIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GiveIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProductByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="func" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="provider" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteOrRestoreProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="delete" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOrRestoreProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:CreditCard" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CreditCard">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpiryDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Cvv" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddCreditCardResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchCardCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchCardCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SearchCardCodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order" type="tns:Order" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOrderResponse">
        <s:complexType />
      </s:element>
      <s:element name="SearchOrderId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchOrderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SearchOrderIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrderDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:OrderDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdOrder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdProduct" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantity" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddOrderDetailsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="GetAllClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="HasClientSoapIn">
    <wsdl:part name="parameters" element="tns:HasClient" />
  </wsdl:message>
  <wsdl:message name="HasClientSoapOut">
    <wsdl:part name="parameters" element="tns:HasClientResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="SearchByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBySqlSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBySql" />
  </wsdl:message>
  <wsdl:message name="SearchBySqlSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBySqlResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTrainersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTrainers" />
  </wsdl:message>
  <wsdl:message name="GetAllTrainersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTrainersResponse" />
  </wsdl:message>
  <wsdl:message name="CityFromidSoapIn">
    <wsdl:part name="parameters" element="tns:CityFromid" />
  </wsdl:message>
  <wsdl:message name="CityFromidSoapOut">
    <wsdl:part name="parameters" element="tns:CityFromidResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_ClientSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Client" />
  </wsdl:message>
  <wsdl:message name="Delete_ClientSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_ClientResponse" />
  </wsdl:message>
  <wsdl:message name="Restore_ClientSoapIn">
    <wsdl:part name="parameters" element="tns:Restore_Client" />
  </wsdl:message>
  <wsdl:message name="Restore_ClientSoapOut">
    <wsdl:part name="parameters" element="tns:Restore_ClientResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewClientSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewClient" />
  </wsdl:message>
  <wsdl:message name="AddNewClientSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCities" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="LoginDTSoapIn">
    <wsdl:part name="parameters" element="tns:LoginDT" />
  </wsdl:message>
  <wsdl:message name="LoginDTSoapOut">
    <wsdl:part name="parameters" element="tns:LoginDTResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClientSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="UpdateClientSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviders" />
  </wsdl:message>
  <wsdl:message name="GetProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:GetProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderId" />
  </wsdl:message>
  <wsdl:message name="GetProviderIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProviderFromIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProviderFromId" />
  </wsdl:message>
  <wsdl:message name="GetProviderFromIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProviderFromIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewProductSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewProduct" />
  </wsdl:message>
  <wsdl:message name="AddNewProductSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewProductResponse" />
  </wsdl:message>
  <wsdl:message name="GiveIdSoapIn">
    <wsdl:part name="parameters" element="tns:GiveId" />
  </wsdl:message>
  <wsdl:message name="GiveIdSoapOut">
    <wsdl:part name="parameters" element="tns:GiveIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProductByIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProductById" />
  </wsdl:message>
  <wsdl:message name="SearchProductByIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="SearchProductsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchProducts" />
  </wsdl:message>
  <wsdl:message name="SearchProductsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchProductsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOrRestoreProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOrRestoreProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteOrRestoreProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOrRestoreProductResponse" />
  </wsdl:message>
  <wsdl:message name="AddCreditCardSoapIn">
    <wsdl:part name="parameters" element="tns:AddCreditCard" />
  </wsdl:message>
  <wsdl:message name="AddCreditCardSoapOut">
    <wsdl:part name="parameters" element="tns:AddCreditCardResponse" />
  </wsdl:message>
  <wsdl:message name="SearchCardCodeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchCardCode" />
  </wsdl:message>
  <wsdl:message name="SearchCardCodeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchCardCodeResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="AddOrderSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="SearchOrderIdSoapIn">
    <wsdl:part name="parameters" element="tns:SearchOrderId" />
  </wsdl:message>
  <wsdl:message name="SearchOrderIdSoapOut">
    <wsdl:part name="parameters" element="tns:SearchOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrderDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrderDetails" />
  </wsdl:message>
  <wsdl:message name="AddOrderDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrderDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetAllClients">
      <wsdl:input message="tns:GetAllClientsSoapIn" />
      <wsdl:output message="tns:GetAllClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasClient">
      <wsdl:input message="tns:HasClientSoapIn" />
      <wsdl:output message="tns:HasClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input message="tns:SearchByIdSoapIn" />
      <wsdl:output message="tns:SearchByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBySql">
      <wsdl:input message="tns:SearchBySqlSoapIn" />
      <wsdl:output message="tns:SearchBySqlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTrainers">
      <wsdl:input message="tns:GetAllTrainersSoapIn" />
      <wsdl:output message="tns:GetAllTrainersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CityFromid">
      <wsdl:input message="tns:CityFromidSoapIn" />
      <wsdl:output message="tns:CityFromidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Client">
      <wsdl:input message="tns:Delete_ClientSoapIn" />
      <wsdl:output message="tns:Delete_ClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Restore_Client">
      <wsdl:input message="tns:Restore_ClientSoapIn" />
      <wsdl:output message="tns:Restore_ClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewClient">
      <wsdl:input message="tns:AddNewClientSoapIn" />
      <wsdl:output message="tns:AddNewClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <wsdl:input message="tns:GetAllCitiesSoapIn" />
      <wsdl:output message="tns:GetAllCitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginDT">
      <wsdl:input message="tns:LoginDTSoapIn" />
      <wsdl:output message="tns:LoginDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input message="tns:UpdateClientSoapIn" />
      <wsdl:output message="tns:UpdateClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <wsdl:input message="tns:GetProvidersSoapIn" />
      <wsdl:output message="tns:GetProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderId">
      <wsdl:input message="tns:GetProviderIdSoapIn" />
      <wsdl:output message="tns:GetProviderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProviderFromId">
      <wsdl:input message="tns:GetProviderFromIdSoapIn" />
      <wsdl:output message="tns:GetProviderFromIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input message="tns:GetAllProductsSoapIn" />
      <wsdl:output message="tns:GetAllProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <wsdl:input message="tns:AddNewProductSoapIn" />
      <wsdl:output message="tns:AddNewProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GiveId">
      <wsdl:input message="tns:GiveIdSoapIn" />
      <wsdl:output message="tns:GiveIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProductById">
      <wsdl:input message="tns:SearchProductByIdSoapIn" />
      <wsdl:output message="tns:SearchProductByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchProducts">
      <wsdl:input message="tns:SearchProductsSoapIn" />
      <wsdl:output message="tns:SearchProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input message="tns:UpdateProductSoapIn" />
      <wsdl:output message="tns:UpdateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrRestoreProduct">
      <wsdl:input message="tns:DeleteOrRestoreProductSoapIn" />
      <wsdl:output message="tns:DeleteOrRestoreProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCreditCard">
      <wsdl:input message="tns:AddCreditCardSoapIn" />
      <wsdl:output message="tns:AddCreditCardSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchCardCode">
      <wsdl:input message="tns:SearchCardCodeSoapIn" />
      <wsdl:output message="tns:SearchCardCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input message="tns:AddOrderSoapIn" />
      <wsdl:output message="tns:AddOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchOrderId">
      <wsdl:input message="tns:SearchOrderIdSoapIn" />
      <wsdl:output message="tns:SearchOrderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrderDetails">
      <wsdl:input message="tns:AddOrderDetailsSoapIn" />
      <wsdl:output message="tns:AddOrderDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasClient">
      <soap:operation soapAction="http://tempuri.org/HasClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://tempuri.org/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBySql">
      <soap:operation soapAction="http://tempuri.org/SearchBySql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTrainers">
      <soap:operation soapAction="http://tempuri.org/GetAllTrainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CityFromid">
      <soap:operation soapAction="http://tempuri.org/CityFromid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Client">
      <soap:operation soapAction="http://tempuri.org/Delete_Client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restore_Client">
      <soap:operation soapAction="http://tempuri.org/Restore_Client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewClient">
      <soap:operation soapAction="http://tempuri.org/AddNewClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap:operation soapAction="http://tempuri.org/GetAllCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDT">
      <soap:operation soapAction="http://tempuri.org/LoginDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <soap:operation soapAction="http://tempuri.org/GetProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderId">
      <soap:operation soapAction="http://tempuri.org/GetProviderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderFromId">
      <soap:operation soapAction="http://tempuri.org/GetProviderFromId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <soap:operation soapAction="http://tempuri.org/AddNewProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveId">
      <soap:operation soapAction="http://tempuri.org/GiveId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProductById">
      <soap:operation soapAction="http://tempuri.org/SearchProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProducts">
      <soap:operation soapAction="http://tempuri.org/SearchProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrRestoreProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteOrRestoreProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreditCard">
      <soap:operation soapAction="http://tempuri.org/AddCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCardCode">
      <soap:operation soapAction="http://tempuri.org/SearchCardCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrderId">
      <soap:operation soapAction="http://tempuri.org/SearchOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderDetails">
      <soap:operation soapAction="http://tempuri.org/AddOrderDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap12:operation soapAction="http://tempuri.org/GetAllClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasClient">
      <soap12:operation soapAction="http://tempuri.org/HasClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap12:operation soapAction="http://tempuri.org/SearchById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBySql">
      <soap12:operation soapAction="http://tempuri.org/SearchBySql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTrainers">
      <soap12:operation soapAction="http://tempuri.org/GetAllTrainers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CityFromid">
      <soap12:operation soapAction="http://tempuri.org/CityFromid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Client">
      <soap12:operation soapAction="http://tempuri.org/Delete_Client" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restore_Client">
      <soap12:operation soapAction="http://tempuri.org/Restore_Client" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewClient">
      <soap12:operation soapAction="http://tempuri.org/AddNewClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCities">
      <soap12:operation soapAction="http://tempuri.org/GetAllCities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginDT">
      <soap12:operation soapAction="http://tempuri.org/LoginDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap12:operation soapAction="http://tempuri.org/UpdateClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviders">
      <soap12:operation soapAction="http://tempuri.org/GetProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderId">
      <soap12:operation soapAction="http://tempuri.org/GetProviderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProviderFromId">
      <soap12:operation soapAction="http://tempuri.org/GetProviderFromId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProduct">
      <soap12:operation soapAction="http://tempuri.org/AddNewProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiveId">
      <soap12:operation soapAction="http://tempuri.org/GiveId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProductById">
      <soap12:operation soapAction="http://tempuri.org/SearchProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProducts">
      <soap12:operation soapAction="http://tempuri.org/SearchProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap12:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrRestoreProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteOrRestoreProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreditCard">
      <soap12:operation soapAction="http://tempuri.org/AddCreditCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCardCode">
      <soap12:operation soapAction="http://tempuri.org/SearchCardCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap12:operation soapAction="http://tempuri.org/AddOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchOrderId">
      <soap12:operation soapAction="http://tempuri.org/SearchOrderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrderDetails">
      <soap12:operation soapAction="http://tempuri.org/AddOrderDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:49310/ServerSide/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:49310/ServerSide/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>